/* General Styling */

html {
  scroll-behavior: smooth;
}

/* Layout Styling */

.container {
  max-width: 90em;
}

.sticky {
  position: sticky;
  top: 30px;
}

.sticky-buttons {
  background: #1f2424;
  position: sticky;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0px;
  z-index: 35;
}

/* Image Styling */

.guild-icon {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

/* Text Styling */

a.navbar-item,
.navbar-toggle,
.navbar-burger:hover,
.navbar-menu.is-active,
.navbar-menu.is-active:hover {
  background: transparent !important;
}

.input,
.select select,
.textarea {
  max-width: 450px;
}

/* Background Styling */

.gradient {
  background-size: 400% 400%;
  -webkit-animation: gradient 4s ease infinite;
  -moz-animation: gradient 4s ease infinite;
  -o-animation: gradient 4s ease infinite;
  animation: gradient 4s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background: #676cb8;
  }

  50% {
    background: #886fb9;
  }

  100% {
    background: #676cb8;
  }
}


@keyframes gradient {
  0% {
    background: #676cb8;
  }

  50% {
    background: #886fb9;
  }

  100% {
    background: #676cb8;
  }
}

/* Multiselect Styling */

.icon-caret {
  opacity: 0;
}

.ms-choice:hover {
  border-color: #8c9b9d;
  border-width: 2px;
}

.ms-choice>span.placeholder {
  color: #282f2f;
}

.ms-choice {
  height: 2.5em;
  padding-right: 2.5em;
  border-width: 2px;
  font-size: 1em;
  background-color: #fff;
  border-color: #dbdee0;
  border-radius: .4em;
  color: #282f2f;
  padding: calc(.375em - 1px) calc(.625em - 1px);
  line-height: 2.5;
  outline: 0;
}

.select:after {
  z-index: 0 !important;
}

/* Emoji Picker Styling */

div.emoji-picker.dark {
  width: 25em;
}

div.emoji-picker__emojis {
  overflow-x: hidden
}

#pinEmoji {
  width: 3em;
  height: 3em;
}
