#  _      _  _      _  _     _
# | |    (_)| |    (_)| |   (_)
# | |__   _ | |__   _ | | __ _
# | '_ \ | || '_ \ | || |/ /| |
# | | | || || |_) || ||   < | |
# |_| |_||_||_.__/ |_||_|\_\|_|

DISCORD_TOKEN = ""          # REQUIRED: Discord bot token to authenticate with.
DISCORD_DEV_GUILD_ID = ""   # OPTIONAL: Discord Guild ID to deploy development-mode commands and log bot events to.
DISCORD_DEV_CHANNEL_ID = "" # OPTIONAL: Discord Channel ID (inside of DISCORD_DEV_GUILD_ID) to send certain logs to.
DISCORD_STATUSES = ""       # OPTIONAL: Comma-space delimited ('one, two') list of bot statuses to cycle through.
REDIS_URL = ""              # REQUIRED: Redis/Valkey database URL to connect to.
SENTRY_DSN = ""             # OPTIONAL: Sentry DSN URL (https) to submit and upload errors to.
