###
# An example Hibiki configuration file
# Do not share this file, and be careful with who has access to it.
# Unauthorized access could result in any form of abuse. You have been warned.
###

# The token to log into the Discord API with. Required.
# https://discord.com/developers/applications
DISCORD_TOKEN = "REPLACE_ME_WITH_YOUR_BOT_TOKEN"

# A Discord Guild ID to deploy commands to in dev mode and to log guild events to. Optional.
# https://discord.com/developers/docs/resources/guild#guild-object
DISCORD_GUILD_ID = ""

# Statuses to cycle through. Optional.
# These must be delimited by a comma and a space
DISCORD_STATUSES = "h, guh, read if cute"

# A Sentry DSN URL for uploading errors to. Optional.
# https://docs.sentry.io/product/sentry-basics/dsn-explainer/
SENTRY_DSN = ""
