###
# This is an example Hibiki configuration file.
# Do not share this file, and be careful with who has access to it.
# Unauthorized access can result in abuse. You have been warned. :)
##

# REQUIRED: Bot token to log into the Discord API with.
DISCORD_TOKEN = ""

# OPTIONAL: Discord guild ID to use for development mode/event logging.
DISCORD_DEV_GUILD_ID = ""

# OPTIONAL: A comma-space delimited list of Discord statuses to set.
DISCORD_STATUSES = "h, guh, read if cute"

# OPTIONAL: A Sentry DSN URL (https) to submit and upload errors to.
SENTRY_DSN = ""
