* text=auto

*.bash text eol=lf
*.css text diff=css
*.htm text diff=html
*.html text diff=html
*.scss text diff=css
*.sh text eol=lf
*.markdown text diff=markdown
*.md text diff=markdown
*.lock text -diff
tsconfig.json linguist-language=JSON-with-Comments

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.svg text
*.webp binary
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary
