#
# Cache & Temporary Files
#

_site/
.cache-loader/
.cache/
.eslintcache
.fuse_hidden*
.jekyll-cache/
.jekyll-metadata
.npm/
.sass-cache/
.temp/
.tmp/
.turbo/
*.bak
*.cache
*.cachefile
*.cover
*.lock
*.pid
*.tmp
*.tsbuildinfo
*cover
cache/
node_cache/
npm-cache/
pids/
temp/
tmp/

#
# Dependencies
#

node_modules/

#
# Editor & IDE Files
#

.code-workspace
.history
.settings/
.vscode/

#
# Logs
#

*.log
logs/
replay_pid*
stackdump.*

#
# Operating System Files
#

._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.DS_Store?
.ehthumbs_vista.db
.ehthumbs.db
.fseventsd/
.Icon?
.localized
.LSOverride
.Spotlight-V100
.TemporaryItems/
.Trashes/
.VolumeIcon.icns
$RECYCLE.BIN/
desktop.ini
ehthumbs.db
Icon?
Thumbs.db
Thumbs.db:encryptable

#
# Secrets
#

.env
.env.*
