!env.example
!bun.lock

_site/
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache/
.code-workspace
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.DS_Store?
.ehthumbs_vista.db
.ehthumbs.db
.eslintcache
.fseventsd/
.fuse_hidden*
.history
.Icon?
.localized
.LSOverride
.npm/
.settings/
.Spotlight-V100
.temp/
.TemporaryItems/
.tmp/
.Trashes/
.turbo/
.VolumeIcon.icns
*.bak
*.cache
*.cachefile
*.cover
*.env*
*.lock
*.log
*.pid
*.tmp
*.tsbuildinfo
*cover
$RECYCLE.BIN/
cache/
desktop.ini
dist/
ehthumbs.db
Icon?
logs/
node_cache/
node_modules/
npm-cache/
pids/
replay_pid*
stackdump.*
temp/
Thumbs.db
Thumbs.db:encryptable
tmp/
