# Link our stuff together
link-workspace-packages = true

# Enable strict engine checking
strict-engine = true

# Install highest matching by default
# see https://github.com/pnpm/pnpm/issues/6463
resolution-mode = highest

# Fixes some weird issues with tooling
shamefully-hoist = true
