# Link our stuff together
shared-workspace-shrinkwrap = true
link-workspace-packages = true

# pnpm disables these by default, which is quite dumb imo
# see https://github.com/pnpm/pnpm/issues/2891
enable-pre-post-scripts = true

# This resolves some issues with workspace modules
# shamefully-hoist = true

# Enable strict engine checking
# This may be problematic if you're a yarn user, for whatever godawful reason?
strict-engine = true
