{
  "arrowParens": "always",
  "endOfLine": "lf",
  "proseWrap": "always",
  "quoteProps": "consistent",
  "trailingComma": "all",
  "printWidth": 140,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "useTabs": false
}
