server:
  # Make sure these match config.json > lavalink. It's reccommended that you change these from the defaults.
  port: 2333
  address: 0.0.0.0
lavalink:
  server:
    # Change this to something secure! Make sure it matches config.json > lavalink > password.
    password: "youshallnotpass"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: false # Soundcloud support is buggy depending on what version of Lavalink you use
      twitch: false
      vimeo: false
      http: false
      local: false
    bufferDurationMs: 400
    youtubePlaylistLoadLimit: 1 # Number of pages at 100 each
    playerUpdateInterval: 5 # How frequently to send player updates to clients, in seconds
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: true
    #ratelimit:
    #ipBlocks: ["1.0.0.0/8", "..."] # list of ip blocks
    #excludedIps: ["...", "..."] # ips which should be explicit excluded from usage by lavalink
    #strategy: "RotateOnBan" # RotateOnBan | LoadBalance | NanoSwitch | RotatingNanoSwitch
    #searchTriggersFail: true # Whether a search 429 should trigger marking the ip as failing
    #retryLimit: -1 # -1 = use default lavaplayer value | 0 = infinity | >0 = retry will happen this numbers times

metrics:
  prometheus:
    enabled: false
    endpoint: /metrics

sentry:
  # Set this to your Sentry DSN if applicable
  dsn: ""
  environment: ""
#  tags:
#    some_key: some_value
#    another_key: another_value

logging:
  file:
    max-history: 30
    max-size: 1GB
  path: ./logs/

  level:
    root: INFO
    lavalink: INFO
