<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include default head stuff -->
    {% include "head" %} {% block head %} {% endblock %}
  </head>

  <body>
    <!-- Main content -->
    {% block content %} {% endblock %}
  </body>
</html>
