<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include default head stuff -->
    {% include "head" %} {% block head %} {% endblock %}
    <title>{{ error }}</title>
  </head>
  <body>
    <p>{{ message }}</p>
  </body>
</html>
