<footer class="footer">
  <div class="content has-text-centered is-size-5">
    <p>
     <%= bot.user.username %> v<%= bot.version%>, by <a href="https://lesbian.codes" class="has-text-info" target="_blank">smolespi</a>
      and <a href="https://github.com/smolespi/Hibiki/graphs/contributors" class="has-text-info" target="_blank">contributors</a>.
      <br>
      Source <a href="https://github.com/smolespi/Hibiki/blob/main/LICENCE" class="has-text-info">licensed</a> under the GNU AGPLv3 or later.
      <br>
      Powered by <a href="https://bulma.io" class="has-text-info" target="_blank">Bulma</a>,
      <a href="https://github.com/abalabahaha/eris" class="has-text-info" target="_blank">Eris</a>,
      <a href="https://fontawesome.com" class="has-text-info" target="_blank">Font Awesome</a>,
      and <a href="https://nodejs.org" class="has-text-info" target="_blank">Node.js</a>.
    </p>
  </div>
</footer>
