<footer class="footer">
  <div class="content has-text-centered is-size-5">
    <p>
      <%= bot.user.username %>, by
      <a href="https://espi.me" target="_blank" rel="noopener noreferrer">sysdotini</a>,
      <a href="https://github.com/resolvedxd" target="_blank" rel="noopener noreferrer">resolved</a>, and
      <a href="https://github.com/sysdotini/hibiki/graphs/contributors">contributors</a>.
      <br />
      Source <a href="https://github.com/sysdotini/hibiki/blob/main/LICENSE">licensed</a> under the GNU AGPLv3 or later.
      <br />
      <a href="/privacy/" target="_blank" rel="noopener noreferrer">
        <span class="icon"><em class="fas fa-shield-alt"></em></span>
        <span>Privacy Policy</span>
      </a>
    </p>
  </div>
</footer>
