<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <%= bot.user.username %> v<%= bot.version %>, by
      <a href="https://lesbian.codes">smolespi</a>,
      <a href="https://github.com/resolvedxd/">resolved</a>,
      <a href="https://github.com/cthpw103">cth103</a>,
      &amp <a href="https://tttie.cz">TTtie</a>.
    </p>
  </div>
</footer>
