<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <%= bot.user.username %> v<%= bot.version %>, by
      <a href="https://lesbian.codes">smolespi</a>,
      <a href="https://github.com/resolvedxd/">resolved</a>,
      &amp; <a href="https://github.com/cthpw103">cth103</a>.
      <br>
      <a href="/github/">Source</a> licensed under the
      <a href="https://github.com/smolespi/Hibiki/blob/main/LICENSE">GNU AGPLv3</a> or later.
    </p>
  </div>
</footer>
