<footer class="footer">
  <div class="content has-text-centered is-size-5">
    <p>
      Hibiki, by
      <a href="https://espi.me" target="_blank" rel="noopener">smolespi</a>,
      <a href="https://github.com/resolvedxd" target="_blank" rel="noopener">resolved</a>, and
      <a href="https://github.com/smolespi/Hibiki/graphs/contributors">contributors</a>.
      <br />
      Source <a href="https://github.com/smolespi/hibiki/blob/main/LICENSE">licensed</a> under the GNU AGPLv3 or later.
      <br />
    </p>
  </div>
</footer>
