<!-- Page title -->
{% assign error = "Error" %}

<!-- Default layout -->
{% layout "error" %}

<!-- Error content -->
{% block content %}

<div>
  <p>Failed to authenticate.</p>
</div>

{% endblock %}
