<footer class="footer">
  <div class="content has-text-centered">
    <p class="has-text-white">
      <%= bot.user.username %> v<%= bot.version %>, by
      <a href="https://lesbian.codes" class="has-text-light">smolespi</a> &amp;
      <a href="https://github.com/resolvedxd/" class="has-text-light">resolved</a>.
      <br>
      <a href="/repo/" class="has-text-white">Source</a> licensed under the
      <a href="https://github.com/smolespi/Hibiki/LICENSE.md" class="has-text-light">GNU AGPLv3</a> or later.
    </p>
  </div>
</footer>

<style>
.footer {
  background: #676cb8;
  padding: 2em !important;
}

</style>
