/* General Styling */

html {
  scroll-behavior: smooth;
}

/* Layout Styling */

.about {
  max-width: 55em;
}

.spacing {
  margin: 5em;
}

/* Text Styling */

a {
  color: #676cb8;
  transition: all .1s linear;
}

a:hover {
  color: #676cb8;
  opacity: 0.8;
}

a.navbar-item,
.navbar-toggle,
.navbar-burger:hover,
.navbar-menu.is-active,
.navbar-menu.is-active:hover {
  background: transparent !important;
}

.is-purple {
  background: #676cb8;
  border: 0px;
}

.subtitle {
  margin-bottom: 0px !important;
}

/* Icon & Image Styling */

.avatar {
  border: 3px #886fb9 solid;
  border-radius: 50%;
  transition: all .1s linear;
  width: 175px;
  height: 175px;
}

.avatar:hover {
  opacity: 0.8;
}

.icons {
  transition: all .1s linear;
}

.icons:hover {
  opacity: 0.9;
}

.logo {
  box-shadow: 0px 0px 20px #cdbeeb;
  border-radius: 50%;
  width: 225px;
  height: 225px;
}

/* Background Styling */

.gradient {
  background-size: 400% 400%;
  -webkit-animation: gradient 4s ease infinite;
  -moz-animation: gradient 4s ease infinite;
  -o-animation: gradient 4s ease infinite;
  animation: gradient 4s ease infinite;
}

/* Background Animation */

@-webkit-keyframes gradient {
  0% {
    background: #676cb8;
  }

  50% {
    background: #886fb9;
  }

  100% {
    background: #676cb8;
  }
}


@keyframes gradient {
  0% {
    background: #676cb8;
  }

  50% {
    background: #886fb9;
  }

  100% {
    background: #676cb8;
  }
}
