<h2 class="title is-3" id="features"><i class="fas fa-magic icons" style="padding-right: 5px;"></i>Features</h2>
<p class="subtitle has-text-white">Enable, disable, &amp; control features.</p>

<%# Finds channels %>
<% let channels = bot.guilds.get(guild.id).channels.map(c => ({name: c.name, id: c.id, type: c.type}));
channels = channels.filter(c => c.type === 0);
channels = channels.filter(c => bot.guilds.get(guild.id).channels.get(c.id).permissionsOf(bot.user.id).has("sendMessages")); %>
<% const cmds = bot.commands.filter(c => c.category !== "Owner") %>

<div class="columns">
  <div class="column is-narrow">
    <div class="field">
      <p class="title is-size-4">Agree Channel</p>
      <p class="subtitle is-size-6 has-text-white">The channel new members run the agree command.</p>
      <div class="control">
        <div id="agreeChannel" class="select">
          <select>
            <option id="none">None</option>
            <% for(let i = 0; i < channels.length; i++) { %>
            <% let channel = channels[i] %>
            <option id=<%=channel.id%>>#<%= channel.name %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>

    <br>

    <div class="field">
      <p class="title is-size-4">Disabled Commands/Categories</p>
      <p class="subtitle is-size-6 has-text-white">Commands or categories to prevent from running.</p>
      <div class="control">
        <div id="disabledCmds" class="select">
          <select multiple="multiple" class="multiple-select">
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-narrow">
    <div class="field">
      <p class="title is-size-4">Pinboard Channel</p>
      <p class="subtitle is-size-6 has-text-white">The channel the Pinboard will post to.</p>
      <div class="control">
        <div id="pinChannel" class="select">
          <select>
            <option id="none">None</option>
            <% for(let i = 0; i < channels.length; i++) { %>
            <% let channel = channels[i] %>
            <option id=<%=channel.id%>>#<%= channel.name %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>

    <br>

    <div class="field">
      <p class="title is-size-4">Pin Amount</p>
      <p class="subtitle is-size-6 has-text-white">Number of reactions to post on the Pinboard.</p>
      <div class="control">
        <div id="pinAmount" class="select">
          <select>
            <option selected>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
