<!-- Sets default layout -->
{% layout "default" %}

<!-- Content start -->
{% block content %}

<!-- HTML SEO Metadata -->
{% render "head" %}

<!-- Main body start -->
<h1>Hello, Hibiki v5.0.0!</h1>

<!-- Content end -->
{% endblock %}
