<footer class="footer">
  <div class="content has-text-centered">
    <p class="has-text-white">
      <%= bot.user.username %> v<%= version %>, by
      <a href="https://lesbian.codes" class="has-text-light">smolespi</a> &amp;
      <a href="https://github.com/resolvedxd/" class="has-text-light">resolved</a>.
      <br>
      <a href="/repo/" class="has-text-white">Source</a> licensed under the 
      <a href="https://github.com/smolespi/Hibiki/LICENSE.md" class="has-text-light">GNU AGPLv3</a> or later.
    </p>
    <%# Required top.gg info (if featured) %>
    <% if (bot.user.id === "493904957523623936") { %>
    <a href="https://top.gg/bot/493904957523623936">
      <img src="https://top.gg/api/widget/status/493904957523623936.svg?noavatar=true" alt="Hibiki" />
    </a>
    <a href="https://top.gg/bot/493904957523623936">
      <img src="https://top.gg/api/widget/servers/493904957523623936.svg?noavatar=true" alt="Hibiki" />
    </a>
    <a href="https://top.gg/bot/493904957523623936">
      <img src="https://top.gg/api/widget/upvotes/493904957523623936.svg?noavatar=true" alt="Hibiki" />
    </a>
    <% } %>
  </div>
</footer>

<style>
.footer {
  background: #676cb8;
  padding: 2.5em !important;
}

</style>
