<header class="navbar is-transparent">
  <div class="container">
    <span class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        <a href="/login/" class="navbar-item has-text-white">
          <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
          <span>Dashboard</span>
        </a>
        <a href="/support/" class="navbar-item has-text-white">
          <span class="icon"><i class="fab fa-discord"></i></span>
          <span>Discord</span>
        </a>
        <a href="/repo/" class="navbar-item has-text-white">
          <span class="icon"><i class="fab fa-github"></i></span>
          <span>GitHub</span>
        </a>
        <a href="/twitter/" class="navbar-item has-text-white">
          <span class="icon"><i class="fab fa-twitter"></i></span>
          <span>Twitter</span>
        </a>
      </div>
    </div>
  </div>
</header>
