//////////////////////
// Main text styling
//////////////////////

.title {
  font-weight: bold;
  font-size: 2.25rem;
}

.subtitle {
  font-weight: semibold;
  font-size: 1.25rem;
}

.has-text-warning {
  color: $warning;
}

.has-text-error {
  color: $error;
}

.has-text-primary {
  color: $primary;
}
