<%# Automod Config %>
<h2 class="title is-3" id="automod"><i class="fas fa-hammer icons" style="padding-right: 5px;"></i>Automod</h2>
<p class="subtitle has-text-white">These settings configure how automod behaves.</p>
<div class="columns">
  <div class="column is-narrow">
    <div class="field">
      <p class="title is-size-4">AntiSpam</p>
      <p class="subtitle is-size-6 has-text-white">Enables or disables AntiSpam.</p>
      <div id="antiSpam" class="control">
        <label class="radio">
          <input type="radio" name="antiSpam"> Enabled </input>
        </label>
        <label class="radio">
          <input type="radio" name="antiSpam"> Disabled </input>
        </label>
      </div>
    </div>

    <div class="field">
      <p class="title is-size-4">Spam Punishments</p>
      <p class="subtitle is-size-6 has-text-white">Punishments for when a user spams.</p>
      <div id="spamPunishments" class="control">
        <input type="checkbox"> Delete message</input>
        <br>
        <input type="checkbox"> Mute the user </input>
        <br>
        <input type="checkbox"> Warn the user</input>
        </label>
      </div>
    </div>

    <div class="field">
      <p class="title is-size-4">Spam Threshold</p>
      <p class="subtitle is-size-6 has-text-white">Message # before spam is detected. 0 disables; 7 is default.</p>
      <div class="control">
        <div id="spamThreshold" class="select">
          <select>
            <option selected>0</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-narrow">
    <div class="field">
      <p class="title is-size-4">AntiInvite</p>
      <p class="subtitle is-size-6 has-text-white">Enables or disables AntiInvite.</p>
      <div id="antiInvite" class="control">
        <label class="radio">
          <input type="radio" name="antiInvitea"> Enabled </input>
        </label>
        <label class="radio">
          <input type="radio" name="antiInvitea"> Disabled </input>
        </label>
      </div>
    </div>

    <br>

    <div class="field">
      <p class="title is-size-4">Invite Punishments</p>
      <p class="subtitle is-size-6 has-text-white">Punishments for when a user sends an invite.</p>
      <div id="invitePunishments" class="control">
        <input type="checkbox"> Delete message </input>
        <br>
        <input type="checkbox"> Mute the member </input>
        <br>
        <input type="checkbox"> Warn the member </input>
        </label>
      </div>
    </div>
  </div>

  <br>

  <div class="column is-mobile">
    <div class="field">
      <p class="title is-size-4">Punishment Message</p>
      <p class="subtitle is-size-6 has-text-white">Message sent when a user's punished.</p>
      <div id="msgOnPunishment" class="control">
        <label class="radio">
          <input type="radio" name="msgOnPunishmenta"> Enabled </input>
        </label>
        <label class="radio">
          <input type="radio" name="msgOnPunishmenta"> Disabled </input>
        </label>
      </div>
    </div>
  </div>
</div>
