<h2 class="title is-3" id="general"><i class="fas fa-cog icons" style="padding-right: 5px;"></i>General</h2>
<p class="subtitle has-text-white">Basic options for <%= bot.user.username %>.</p>

<div class="field">
  <p class="title is-size-4">Prefix</p>
  <p class="subtitle is-size-6 has-text-white">The text put before any commands. Defaults to <%= bot.cfg.prefix %>.</p>
  <div class="control">
    <input id="prefix" class="input" type="text" placeholder="15 characters or less">
  </div>
</div>

<br>
