<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head" %} {% block head %} {% endblock %}
  </head>

  <body>
    <!-- Main content -->
    {% block content %} {% endblock %}

    <!-- Footer -->
    {% include "footer" %}
  </body>
</html>
