---
layout: default
title: Hibiki
description: A Discord bot jam-packed with useful utilities for everyone!
---

<nav id="navbar">
  <a href="/invite">Invite</a>
  <a href="/support">Support</a>
  <a href="/donate">Donate</a>
  <a href="/github">GitHub</a>
</nav>

<div class="large-hero">
  <span class="title">Hibiki</span>
  <br>
  <span class="subtitle">A Discord bot jam-packed with useful utilities for everyone!</span>
  <br>
  <button class="button">
    <a href="/invite">Invite to server</a>
  </button>
  <br>
</div>

<div class="small-hero">
  <span class="small-title">Fully free, forever.</span>
  <br>
  <span class="small-subtitle">We'll never lock features behind a paywall, force you to donate, or make you buy some sketchy cryptobro thing in order to use all of Hibiki's features.</span>
  <br><br>
  <span class="small-subtitle">Hibiki is a passion project driven by the team's love for the Discord API and innovation through UX design, and is not driven by money, fame, or influence.</span>
  <br> <br>
  <span class="small-subtitle">Hibiki is fully open-source and is licensed under the zlib/libpng license.</span>
</div>

<div class="small-hero text-right">
  <span class="small-title">Another thing we do?</span>
  <br>
  <span class="small-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum arcu sit amet tempus aliquet. In tempor egestas semper. In molestie congue risus, ac efficitur nulla aliquam congue. Nunc sit amet enim sit amet felis faucibus condimentum. Proin maximus id tortor in consequat. Quisque suscipit nunc libero, eu congue ex varius et. Fusce non eleifend quam. Duis cursus sapien ac mi ornare, vel tincidunt erat ullamcorper.</span>
</div>

<div class="small-hero">
  <span class="small-title">Another thing we do?</span>
  <br>
  <span class="small-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum arcu sit amet tempus aliquet. In tempor egestas semper. In molestie congue risus, ac efficitur nulla aliquam congue. Nunc sit amet enim sit amet felis faucibus condimentum. Proin maximus id tortor in consequat. Quisque suscipit nunc libero, eu congue ex varius et. Fusce non eleifend quam. Duis cursus sapien ac mi ornare, vel tincidunt erat ullamcorper.</span>
</div>
