/* Layout */

html {
  scroll-behavior: smooth;
}

.media {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.navbar-menu.is-active .is-inline-block {
  vertical-align: middle;
  justify-content: center;
}

.sticky {
  position: sticky;
  top: 30px;
}

.sticky-buttons {
  background-color: inherit;
  position: sticky;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0px;
  z-index: 35;
}

/* Text */

a.navbar-item, .navbar-toggle, .navbar-burger:hover, .navbar-menu.is-active, .navbar-menu.is-active:hover {
  background: transparent !important;
}

.input,
.select select,
.textarea {
  max-width: 450px;
}

/* Images */

.logo {
  box-shadow: 0px 0px 20px #98e0ff;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.nav-logo {
  border-radius: 50%;
}

/* Multiselect & Picker Styling */

.field {
  padding-bottom: 1.5em;
}

 #pinEmoji {
  height: 40px !important;
  border-width: 1px;
  font-size: 1em;
  border-radius: .4em;
  padding: calc(.375em - 1px) calc(.625em - 1px);
  outline: 0;
}

 #pinEmoji {
  vertical-align: middle;
  justify-content: center;
  padding-right: 2.5em;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  padding-bottom: calc(.5em - 1px);
  padding-left: calc(.75em - 1px);
  padding-right: calc(.75em - 1px);
  padding-top: calc(.5em - 1px);
}

.select:after {
  z-index: 0 !important;
}

.emoji-picker__wrapper {
  z-index: 50;
}

/* Animations */

.floating {
  animation: float 2s infinite ease-in-out;
  -o-animation: float 2s infinite ease-in-out;
  -ms-animation: float 2s infinite ease-in-out;
  -moz-animation: float 2s infinite ease-in-out;
  -webkit-animation: float 2s infinite ease-in-out;
}

.gradient {
  background-size: 400% 400%;
  -webkit-animation: gradient 4s ease infinite;
  -moz-animation: gradient 4s ease infinite;
  -o-animation: gradient 4s ease infinite;
  animation: gradient 4s ease infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes gradient {
  0% {
    background: #676cb8;
  }

  50% {
    background: #886fb9;
  }

  100% {
    background: #676cb8;
  }
}

@-webkit-keyframes gradient {
  0% {
    background: #676cb8;
  }

  50% {
    background: #886fb9;
  }

  100% {
    background: #676cb8;
  }
}
