<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="../static/css/errors.css">
  <title>Error</title>
</head>

<body>
  <div class="spacer"></div>
  <div class="has-text-centered">
    <img class="errimg is-hidden-mobile" alt="401" src="../static/img/errors/401.png">
    <div>
      <h2 class="title">401 Unauthorized</h2>
      <a class="button is-medium is-inverted is-light" href="/">
        <i class="fas fa-home icons"></i> Take me home </a>
    </div>
  </div>
</body>

</html>
