
<%# 
  This displays if a user is unauthorized.
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
  <link rel="stylesheet" href="../static/css/errors.css">
  <script src="https://kit.fontawesome.com/cb507ce1e8.js" crossorigin="anonymous"></script>
  <title>Error</title>
</head>

<body>
  <div class="spacer"></div>
  <div class="has-text-centered">
    <img class="errimg is-hidden-mobile" alt="401" src="../static/img/errors/401.png">
    <div>
      <h2 class="title">401 Unauthorized</h2>
      <a class="button is-medium is-inverted is-light" href="/">
        <i class="fas fa-home icons"></i> Take me home </a>
    </div>
  </div>
</body>

</html>
