<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
  <script src="https://kit.fontawesome.com/cb507ce1e8.js" crossorigin="anonymous"></script>
  <title>Error</title>
</head>

<body>
  <section class="section hero is-black is-fullheight">
    <div class="hero-body container">
      <div class="columns is-desktop is-vcentered is-centered">
        <div class="column is-narrow is-size-4 has-text-centered">
          <i class="fas fa-exclamation-triangle fa-4x"></i>
          <p class="title">Forbidden</p>
          <p class="subtitle">Click <a onclick="back()" class="has-text-link">here</a> to go back.</p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>

<script>
function back() {
  window.history.back();
}

</script>
